body{
    background-color: black;
}


h1{
    color: red;
    text-align: center;
}
p{
    color: red;
    text-align: center;
}

div{
    align-items: center;
}
label{
    color: red;
    display: block;
    margin-top: 5px;
}
input{
    align-items: center;
    padding-top: 5px;
    margin-top: 5px;
}
button{
    border-radius: 20px;
    color: red;
    padding-right: 10px;
    margin-top: 5px;
   
}